body {background-color: rgb(245, 244, 230);}
h1 {color: #0da117;}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: pink;  
}
.menu li {
    float: left;
    text-align: left;
}
li a{
    display: block;
    padding: 10px;
    background-color: #029e2b;
}